<div class="container-home">
  <app-nav></app-nav>
  <div class="container-presentation">
  <div class="text-part">
    <h1>Qui suis je ?</h1>
    <p>Je me présente...Mathieu Chauveau. Je suis un développeur web formé à la Wild Code School, spécialisé en développement full stack. Je maîtrise les langages et les frameworks tels que React, Angular, Node.js et Java. Passionné par la résolution de problèmes et la création numérique, je suis toujours à la recherche de nouveaux défis excitants. Contactez-moi pour discuter de vos projets web ! 
    </p>
  </div>
  <div class="img-part">
    <div class="photo">
     <img src="../../assets/photo.jpg" alt="">
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
